body{
  background-color: black;
  color: white;
  font-family: 'StarJedi';
  cursor: crosshair;
}

.particle_container{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.sub-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

button{
  all: unset;
  z-index: 997;
  cursor: pointer;
  transition: transform .2s;
}

button:hover{
  z-index: 999;
  -ms-transform: rotate(360deg) scale(1.5); /* IE 9 */
  -webkit-transform:  rotate(360deg) scale(1.5); /* Safari 3-8 */
  transform: rotate(360deg) scale(1.5); 
}

.hide {
  display: none;
}

.header{
  color: white;
  font-weight: bolder;
}