body{
  background-color: black;
  color: white;
}

.particle_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.sub-container{
  margin: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

button{
  z-index: 999;
  cursor: pointer;
}
